<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Mój pierwszy blog</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <a class="navbar-brand" href="#!">Mój blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('index') }}" method="GET">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Szukaj" aria-label="Szukaj">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault1">
                <ul class="navbar-nav ml-auto">
                </ul>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a href="/new-post/" style="text-decoration: none; color: white">Dodaj nowy wpis</a></button>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault2">
                <ul class="navbar-nav ml-auto">
                </ul>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a href="/drafts/" style="text-decoration: none; color: white">Szkice</a></button>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault3">
                <ul class="navbar-nav mr-auto">
                </ul>
                {% if session.logged_in %}
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="POST">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Wyloguj</button>
                </form>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-secondary my-2 my-lg-0">Zaloguj</a>
                {% endif %}
        </div>
</nav>
<!-- Page content-->
<main role="main" class="container">

   {% block content %}
   {% endblock %}

 </main><!-- /.container -->
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
