<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Tytuł</th>
      <th scope="col">Treść</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
  {% for post in drafts %}
    <tr>
       <td>
           {{ post.pub_date.strftime('%Y-%m-%d') }}
       </td>
       <td>
           <a href="{{ url_for('edit_entry', entry_id=post.id) }}">
               {{ post.title }}
           </a>
       </td>
       <td>{{ post.body|truncate(100, true) }}</td>
        <td>
            <form action="{{ url_for('delete_draft', entry_id=post.id) }}" method="POST">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Usuń</button>
            </form>
        </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>

{% endblock %}
</html>